* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* Farver - pre exam */
  --main-pink-color:#D89F93;
  --background-color:#F3ECE3;
  --main-red-color:#7A1E2E;
  --text-black-color: #2c2c2c;
  --light-pink:#ebbbb2;
  --hover-red:#5e1f1f;
  

  /* Hover filter - pre exam */
  --pink-filter: invert(61%) sepia(18%) saturate(551%) hue-rotate(327deg) brightness(92%) contrast(91%);

  --white-filter: invert(95%) sepia(11%) saturate(434%) hue-rotate(317deg) brightness(103%) contrast(91%);

  --red-filter: invert(16%) sepia(45%) saturate(2634%) hue-rotate(323deg) brightness(93%) contrast(97%);

  --black-filter: invert(8%) sepia(0%) saturate(1011%) hue-rotate(243deg) brightness(102%) contrast(78%);

  --font-family:'Anek Odia', "Inter", Sans-serif;
  --font-size-small:1.3rem;
  --font-size-base:1.6rem;
  --Font-size-medium:1.8rem;
  --font-size-large:2rem;
  --font-size-xl:2.4rem;
  --font-size-xxl:2.8rem;
  --font-size-hero-tablet:3rem;
  --font-size-hero-mobile:2.5rem;
  --font-size-hero: 4.5rem;

  /* font weights - pre exam */
  --font-weight-normal:400;
  --font-weight-medium:500;
  --font-weight-semi-bold:600;
  --font-weight-bold:700;

  /* Farver dark mode - exam */

  --night-white: #ECEDE2;
  --main-night-purple: #271D36;
  --night-light-purple: #3F2B50;
}

/* rem 10px=1rem - exam*/
html {
  font-size: 62.5%;
}

/* Header - exam */

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--main-pink-color);
  z-index: 1000;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  box-shadow:0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Header icons hover and display - exam */

#header-icons {
  display: flex;
  align-items: center;
  gap: 4rem;
}

#menu {
  display: flex;
  align-items: center;
}

#menu-lines:hover {
  cursor: pointer;
  content: url(../img/menu-bar-img/hover-menu.png);
  transition: 0.3ms ease;
}

#basket-icon:hover {
  cursor: pointer;
  content: url(../img/baskets-img/basket-hover.png);
  transition: 0.3ms ease;
}

#search-icon:hover {
  cursor: pointer;
  content: url(../img/search-lenses-img/search-hover.png);
  transition: 0.3ms ease;
}

#profile-icon:hover {
  cursor: pointer;
  content: url(../img/profiles-img/profile-hover.png);
  transition: 0.3ms ease;
}

#logo-icon {
  margin-left: 6rem;
}

/* navbar - exam */

#menu-drop {
  display: none;
}

#menu-content {
  position: absolute;
  top: 15.3rem;
  flex-direction: column;
  left: 0;
}

.menu-content-link {
  display: flex;
  text-decoration: none;
  color: var(--text-black-color);
  background-color: var(--background-color);
  border: 0.2rem solid var(--main-red-color);
  font-size: var(--font-size-xxl);
  padding: 2.5rem;
  justify-content: center;
}

#menu-btn {
  display: none;
}

#menu-btn:checked ~ #menu-drop {
  display: block;
}

.menu-content-link:hover {
  background-color: var(--hover-red);
  color: var(--background-color);
}

/* searchbar - exam */

#search-field {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

#search-bar-check {
  display: none;
}

#search-bar-input {
  display: none;
  border-radius: 2rem;
  background-color: var(--background-color);
  border: 0.2rem solid var(--main-red-color);
  padding: 1rem;
  color: var(--main-red-color);
}

#search-bar-input::placeholder {
  color: var(--main-red-color);
  font-family: var(--font-family);
}

#search-bar-check:checked ~ #search-bar-input {
  display: block;
}

/* Hero section - exam */

#hero-content {
  position: relative;
}

#hero-picture {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#hero-info {
  font-size: var(--font-size-hero);
  color: #F7F2EB;
  font-family: var(--font-family);
  text-shadow: 0.1rem 0.1rem 0 rgba(42,42,42,0.5),
  -0.1rem 0.1rem 0 rgba(42,42,42,0.5),
  0.1rem -0.1rem 0 rgba(42,42,42,0.5),
  -0.1rem -0.1rem 0 rgba(42,42,42,0.5),
  0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.45);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10vh;
  right: 8vw;
}

#buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-red-color);
  padding: 0.2rem;
  border-radius: 4rem;
  border: none;
  width: 40%;
  font-size: 5rem;
  font-family: var(--font-family);
  position: absolute;
  color: var(--background-color);
  font-weight: var(--font-weight-semi-bold);
  top: 35vh;
  right: 12vw;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.45);
  outline: 0.1rem solid rgba(42, 42, 42, 0.6);
}

#buy-text {
  text-shadow: 0.1rem 0.1rem 0 rgba(42,42,42,0.5),
  -0.1rem 0.1rem 0 rgba(42,42,42,0.5),
  0.1rem -0.1rem 0 rgba(42,42,42,0.5),
  -0.1rem -0.1rem 0 rgba(42,42,42,0.5);
  margin-top: 1rem;
}

#buy-btn:hover {
  background-color: var(--hover-red);
  cursor: pointer;
}

/* Color cards - exams */

#cards {
  background-color: var(--light-pink);
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 3rem;
}

#vibe {
  font-family: var(--font-family);
  font-size: var(--font-size-xxl);
  display: flex;
  justify-content: center;
  color: var(--text-black-color);
  margin: 1rem;
  padding: 1rem;
}

#cards-img {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

#lavender,
#rose,
#sage,
#moonlight {
  background-color: var(--background-color);
  border-radius: 5rem;
  padding-top: 20px;
}

#lavender:hover,
#rose:hover,
#sage:hover,
#moonlight:hover {
  border-radius: 5rem;
  cursor: pointer;
  border: 0.2rem solid var(--text-black-color);
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.50) inset;
}

/* Social connect - exam */

#social-connect {
  background-color: var(--background-color);
  position: relative;
  width: 100%;
  z-index: 1;
  font-family: var(--font-family);
  color: var(--text-black-color);
  padding: 3rem;
}

#playlists {
  font-family: var(--font-family);
  font-size: var(--font-size-xxl);
  display: flex;
  justify-content: center;
  color: var(--text-black-color);
  margin: 1rem;
  padding: 1rem;
}

#apps {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20vh;
  left: 73vw;
  z-index: 2;
  gap: 2rem;
}

#app-descript {
  font-size: var(--font-size-xl);
  padding: 1rem;
  text-align: center;
  font-weight: var(--font-weight-medium);
  color: var(--text-black-color);
}

#app-icons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
}

#apple,
#google {
  cursor: pointer;
}

#social-connect-img {
  border-radius: 1rem;
}

/* Specifications - exam */

#specs {
  background-color: var(--light-pink);
  position: relative;
  width: 100%;
  z-index: 1;
  font-family: var(--font-family);
  color: var(--text-black-color);
  padding: 3rem;
}

#specs-title {
  font-family: var(--font-family);
  font-size: var(--font-size-xxl);
  display: flex;
  justify-content: center;
  color: var(--text-black-color);
  margin: 1rem;
  padding: 1rem;
}

#specs-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#specs-list {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxl);
  margin-left: 10rem;
  font-family: var(--font-family);
}

#specs-img {
  margin-right: 3rem;
}