* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* Farver - pre exam */
  --main-pink-color:#D89F93;
  --background-color:#F3ECE3;
  --main-red-color:#7A1E2E;
  --text-black-color: #2c2c2c;
  --light-pink:#ebbbb2;
  --hover-red:#5e1f1f;
  

  /* Hover filter - pre exam */
  --pink-filter: invert(61%) sepia(18%) saturate(551%) hue-rotate(327deg) brightness(92%) contrast(91%);

  --white-filter: invert(95%) sepia(11%) saturate(434%) hue-rotate(317deg) brightness(103%) contrast(91%);

  --red-filter: invert(16%) sepia(45%) saturate(2634%) hue-rotate(323deg) brightness(93%) contrast(97%);

  --black-filter: invert(8%) sepia(0%) saturate(1011%) hue-rotate(243deg) brightness(102%) contrast(78%);

  --font-family:'Anek Odia', "Inter", Sans-serif;
  --font-size-small:13px;
  --font-size-base:16px;
  --Font-size-medium:18px;
  --font-size-large:20px;
  --font-size-xl:24px;
  --font-size-xxl:28px;
  --font-size-hero-tablet:3rem;
  --font-size-hero-mobile:2.5rem;
  --font-size-hero: 4.5rem;

  /* font weights - pre exam */
  --font-weight-normal:400;
  --font-weight-medium:500;
  --font-weight-semi-bold:600;
  --font-weight-bold:700;

  /* Farver dark mode - exam */

  --night-white: #ECEDE2;
  --main-night-purple: #271D36;
  --night-light-purple: #3F2B50;

}