* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* Farver - pre exam */
  --main-pink-color:#D89F93;
  --background-color:#F3ECE3;
  --main-red-color:#7A1E2E;
  --text-black-color: #2c2c2c;
  --light-pink:#ebbbb2;
  --hover-red:#5e1f1f;
  

  /* Hover filter - pre exam */
  --pink-filter: invert(61%) sepia(18%) saturate(551%) hue-rotate(327deg) brightness(92%) contrast(91%);

  --white-filter: invert(95%) sepia(11%) saturate(434%) hue-rotate(317deg) brightness(103%) contrast(91%);

  --red-filter: invert(16%) sepia(45%) saturate(2634%) hue-rotate(323deg) brightness(93%) contrast(97%);

  --black-filter: invert(8%) sepia(0%) saturate(1011%) hue-rotate(243deg) brightness(102%) contrast(78%);

  --font-family:'Anek Odia', "Inter", Sans-serif;
  --font-size-small:1.3rem;
  --font-size-base:1.6rem;
  --Font-size-medium:1.8rem;
  --font-size-large:2rem;
  --font-size-xl:2.4rem;
  --font-size-xxl:2.8rem;
  --font-size-hero-tablet:3rem;
  --font-size-hero-mobile:2.5rem;
  --font-size-hero: 4.5rem;

  /* font weights - pre exam */
  --font-weight-normal:400;
  --font-weight-medium:500;
  --font-weight-semi-bold:600;
  --font-weight-bold:700;

  /* Farver dark mode - made foor exam purpose and not prior to the exam */

  --night-white: #ECEDE2;
  --main-night-purple: #220C35;
  --night-light-purple: #3F2B50;
  --night-second-dark: #271D36;
}

/* Everything from here has been made for exam purpose. Nothing was made prior to it */

/* rem 10px=1rem */
html {
  font-size: 62.5%;
}

/* Header */

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--main-pink-color);
  z-index: 1000;
  width: 100%;
  box-shadow:0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

/* Header icons hover and display */

#header-icons {
  grid-column: 3;
  justify-self: end;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 4rem;
}

#menu {
  grid-column: 1;
  justify-self: start;
}

#menu-lines:hover {
  cursor: pointer;
  content: url(../img/menu-bar-img/hover-menu.svg);
  transition: 0.3ms ease;
}

#basket-icon:hover {
  cursor: pointer;
  content: url(../img/baskets-img/basket-hover.svg);
  transition: 0.3ms ease;
}

#search-icon:hover {
  cursor: pointer;
  content: url(../img/search-lenses-img/search-hover.svg);
  transition: 0.3ms ease;
}

#profile-icon:hover {
  cursor: pointer;
  content: url(../img/profiles-img/profile-hover.svg);
  transition: 0.3ms ease;
}

#logo-icon {
  grid-column: 2;
  justify-self: center;
}

/* navbar */

#menu-drop {
  display: none;
}

#menu-content {
  position: absolute;
  top: 100%;
  left: 0;
}

.menu-content-link {
  display: flex;
  text-decoration: none;
  color: var(--text-black-color);
  background-color: var(--background-color);
  border: 0.2rem solid var(--main-red-color);
  font-size: var(--font-size-xxl);
  padding: 2.5rem;
  justify-content: center;
}

#menu-btn {
  display: none;
}

#menu-btn:checked ~ #menu-drop {
  display: block;
}

.menu-content-link:hover {
  background-color: var(--hover-red);
  color: var(--background-color);
}

/* searchbar */

#search-field {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

#search-bar-check {
  display: none;
}

#search-bar-input {
  display: none;
  border-radius: 2rem;
  background-color: var(--background-color);
  border: 0.2rem solid var(--main-red-color);
  padding: 1rem;
  color: var(--main-red-color);
}

#search-bar-input::placeholder {
  color: var(--main-red-color);
  font-family: var(--font-family);
}

#search-bar-check:checked ~ #search-bar-input {
  display: block;
}

/* Hero section */

#hero {
  position: relative;
  height: 85vh;
  width: 100%;
  background-image: url(../img/lavender-beach.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  padding: 10rem 20rem;
}

#hero-info {
  font-size: var(--font-size-hero);
  color: #F7F2EB;
  font-family: var(--font-family);
  text-shadow: 0.1rem 0.1rem 0 rgba(42,42,42,0.5),
  -0.1rem 0.1rem 0 rgba(42,42,42,0.5),
  0.1rem -0.1rem 0 rgba(42,42,42,0.5),
  -0.1rem -0.1rem 0 rgba(42,42,42,0.5),
  0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.45);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero-items {
  position: relative;
  display: flex;
  flex-direction: column;
}

#buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-red-color);
  padding: 0.2rem;
  border-radius: 4rem;
  border: none;
  width: 25rem;
  align-self: center;
  font-size: 5rem;
  font-family: var(--font-family);
  position: relative;
  top: 2rem;
  color: var(--background-color);
  font-weight: var(--font-weight-semi-bold);
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.45);
  outline: 0.1rem solid rgba(42, 42, 42, 0.6);
  text-shadow: 0.1rem 0.1rem 0 rgba(42,42,42,0.5),
  -0.1rem 0.1rem 0 rgba(42,42,42,0.5),
  0.1rem -0.1rem 0 rgba(42,42,42,0.5),
  -0.1rem -0.1rem 0 rgba(42,42,42,0.5);
}

#buy-btn span {
  position: relative;
  top: 0.45rem;
}

#buy-btn:hover {
  background-color: var(--hover-red);
  cursor: pointer;
}

/* Color cards */

#cards {
  background-color: var(--light-pink);
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 3rem;
}

#vibe {
  font-family: var(--font-family);
  font-size: var(--font-size-xxl);
  display: flex;
  justify-content: center;
  color: var(--text-black-color);
  margin: 1rem;
  padding: 1rem;
}

#cards-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 4rem;
}

#lavender,
#rose,
#sage,
#moonlight {
  background-color: var(--background-color);
  border-radius: 5rem;
  padding-top: 20px;
}

#lavender:hover,
#rose:hover,
#sage:hover,
#moonlight:hover {
  border-radius: 5rem;
  cursor: pointer;
  border: 0.2rem solid var(--text-black-color);
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.50) inset;
}

/* Social connect */

#social-connect {
  background-color: var(--background-color);
  position: relative;
  width: 100%;
  z-index: 1;
  height: auto;
  font-family: var(--font-family);
  color: var(--text-black-color);
  padding: 3rem;
  overflow: hidden;
}

#items-social-connect {
  display: flex;
  align-items: center;
  gap: 5rem;
  position: relative;
  height: auto;
  overflow: hidden;
}

#social-connect-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: auto;
  overflow: hidden;
}

#playlists {
  font-family: var(--font-family);
  font-size: var(--font-size-xxl);
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

#apps {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  gap: 2rem;
}

#app-descript {
  font-size: var(--font-size-xl);
  padding: 1rem;
  text-align: center;
  font-weight: var(--font-weight-medium);
}

#app-icons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
}

#apple,
#google {
  cursor: pointer;
}

#social-connect-img {
  border-radius: 1rem;
}

/* Specifications */

#specs {
  background-color: var(--light-pink);
  position: relative;
  width: 100%;
  z-index: 1;
  font-family: var(--font-family);
  color: var(--text-black-color);
  padding: 3rem;
}

#specs-title {
  font-family: var(--font-family);
  font-size: var(--font-size-xxl);
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

#specs-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#specs-list {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxl);
  margin-left: 10rem;
  font-family: var(--font-family);
}

#specs-img {
  margin-right: 3rem;
}

/* small infobar */

#small-info {
  background-color: var(--background-color);
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 3rem;
}

#small-info-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 4rem;
}


/* Footer */

footer {
  right: 0;
  left: 0;
  bottom: 0;
  position: relative;
  background-color: var(--main-pink-color);
  z-index: 1000;
  width: 100%;
  box-shadow:0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  padding-left: 7rem;
  padding-right: 7rem;
  font-family: var(--font-family);
  color: var(--text-black-color);
}

#cont-add {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  align-items: flex-start;
}

#cont-flex {
  gap: 10rem;
  display: flex;
}

#follow-title,
#address-title,
#contact-title {
  font-size: var(--font-size-large);
}

#trust-text,
#contact-text,
#address-text {
  font-size: medium;
}

#contact-text a {
  text-decoration: none;
  color: var(--background-color);
}

#trust-follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#trustpilot {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

#trust-text {
  margin-top: 1rem;
}

#some-icons {
  display: flex;
  gap: 2.5rem;
}

#facebook,
#instagram,
#tiktok {
  cursor: pointer;
}

/* darkmode */

@media (prefers-color-scheme: dark) {

  /* Header */

  header {
    background-color: var(--main-night-purple);
  }

  #menu-lines {
    content: url(../img/menu-bar-img/night-menu.svg);
  }

  #menu-lines:hover {
    content: url(../img/menu-bar-img/night-menu-hover.svg);
  }

  #search-icon {
    content: url(../img/search-lenses-img/night-search.svg);
  }

  #search-icon:hover {
    content: url(../img/search-lenses-img/night-search-hover.svg);
  }

  #profile-icon {
    content: url(../img/profiles-img/night-profile.svg);
  }

  #profile-icon:hover {
    content: url(../img/profiles-img/night-profile-hover.png);
  }

  #basket-icon {
    content: url(../img/baskets-img/night-basket.svg);
  }

  #basket-icon:hover {
    content: url(../img/baskets-img/night-basket-hover.svg);
  }

  #logo {
    content: url(../img/logos-img/night-logo.svg);
  }

  #search-bar-input {
  background-color: var(--night-white);
  border: 0.2rem solid var(--night-light-purple);
  color: var(--night-light-purple);
  }

  #search-bar-input::placeholder {
  color: var(--night-light-purple);
  }

  /* Hero section */

  #hero {
    background-image: url(../img/rose-night-hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #buy-btn {
    color: var(--text-black-color);
    background-color: var(--night-white);
  }

  #buy-btn:hover {
    background-color: #A9AB9E;
  }

  /* Color section */

  #cards {
    background-color: var(--night-second-dark);
  }

  #vibe {
    color: var(--night-white);
  }

  #lavender:hover,
  #rose:hover,
  #sage:hover,
  #moonlight:hover {
  border: 0.2rem solid #ECEDE2;
  }

  /* social connect */

  #social-connect {
    background-color: var(--night-light-purple);
    color: var(--night-white);
  }

  /* Specs */

  #specs {
    color: var(--night-white);
    background-color: var(--night-second-dark);
  }

  /* Little info bar */

  #small-info {
    background-color: var(--night-light-purple);
  }

  #truck {
    content: url(../img/icons-info/night-truck.svg);
  }

  #warranty {
    content: url(../img/icons-info/night-shield.svg);
  }

  #return {
    content: url(../img/icons-info/night-return.svg);
  }

  #recycle {
    content: url(../img/icons-info/night-recycle.svg);
  }

  /* footer */

  footer {
    color: var(--night-white);
    background-color: var(--main-night-purple);
  }

  #trust-icon {
    content: url(../img/some-icons/trust-rank-night.svg);
  }
}